body
{
background-image:linear-gradient(to top,green,yellow,red);
}

h1
{
color:;
font-family:;
font-size:;
border:;
padding:;
margin:;
}

a:link
{
color:black;
}

p
{
color:;
font-family:;
font-size:;
border:;
padding:;
margin:;
}

.menu
{
float:right;
}

.slideshow
{
height:250px;
width:500px;
}

marquee
{
background-image:url("logo.jpg");
}
