.menu
{
float:right;
}

.logo
{
height:10px;
width:100;
float:left;
}

.title
{
float:left;
}

.slideshow
{
height:250px;
width:500px;
}

p.quote
{

}

p
{
color:;
font-family:;
font-size:;
border:;
padding:;
margin:;
}


