h1
{
color:;
font-family:;
font-size:;
border:;
padding:;
margin:;
}

p
{
color:;
font-family:;
font-size:;
border:;
padding:;
margin:;
}

hr
{
background-color:black;
}

.menu
{
float:right;
}

.slideshow
{
height:250px;
width:500px;
}

iframe
{
height:50%;
width:100%;
}
